<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Last Transfers</h2>
  </div>  
</div>

<div ng-if="vm.message" class="alert alert-warning text-center">
  {{ vm.message }}
</div>

<form class="form-group form-inline col-lg-12" role="form">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group col-md-12">
              <label class="control-label">Your Account Code</label>
              <input type="text" id="disabledInput" ng-required="required" class="form-control col-md-12" ng-model="vm.account.account_code">
            </div>
            <div class="form-group col-md-12">
              <button type="submit" class="form-control btn btn-default pull-left" ng-click="vm.getLastTransactions()">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="row">
  <table ng-table="tableParams" class="table table-striped">

  </table>
</div>